# Virtual Environment
.uv/

# Python Bytecode
__pycache__/

# Logs
logs/
*.log

# Editor Settings
.vscode/
.idea/

# Pre-commit cache
.pre-commit/

# Build files
build/
dist/

# Coverage
.coverage
.coverage.*
